body {
  background-color: darkgreen;
  font-family: cursive
}

.title {
  text-align: center;
}

h1 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin: auto;
    background-color: darkred;
    color: floralwhite;
    border-radius: 20px;
}

h3 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin: auto;
    background-color: goldenrod;
    color: floralwhite;
    border-radius: 20px;
}

img {
  height: 30%;
  width: 30%;
  text-align: center;
}
