p {
  color: silver;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-family: Times;
}


h1{
  font-family: Times;
  text-align: center;
  font-size: 75px;
  color: azure
}

h4 {
  font-family: Times;
  text-align: center;
  font-size: 30px;
  color: azure
}

li {
  color: silver;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-family: Times;
}

ol{text-align: center;}

a{
  color: lightgray
}

html {
  background-color: gray;
}

img {
  width: 25%;
  height: 25%;
  border: solid 1px aliceblue;
  text-align: center;
}
