.heading {
  text-align: center;
  font-size: 50%;
}

h1 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    background-color: cornsilk;
    border-radius: 20px;

}

h2{
  text-align: center;

}

h3{
  text-align: center;
}

html{
  background-color: burlywood;
  font-family: monospace;
}

.menulink {
  color: black;
  text-decoration: none;
}
a{
  color: lightgray
}
.content{
  background-color: cornsilk;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  overflow: auto;
}

.current {
  background-color: cornsilk;
  padding: 16px;
  display: inline;
  margin: auto;
  border: auto;
  border-radius: 20px;
}

ul {
  background-color: cornsilk;

}

.lyrics {
  text-align: center;
}

nav {
  font-size: 1.5em;
  display: inline-block;
  margin: auto;
}

.menu{
  display: inline;
  padding: 10px;
  color: black;
}

.menulist{
  padding: 0;
  list-style-type: none;
}
.menuback{
  background-color: burlywood;
  text-align: center;
}


.right{
  float: right;
  margin: 10px;
}

.left{
  float: left;
  margin: 10px;
  padding: 10px;
}

.imgmargin {
  margin: 10px;
  padding: 10px;
}
.align{
  display: flex;
  align-items: center;
  margin: 10px;
}

p {
  background-color: cornsilk;
  font-size: 15px;
}

.lover {
  text-align: center;
  width: 20%;
  height:20%;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: pink;

}
.fearless {
  text-align: center;
  width: 20%;
  height:20%;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: yellow;

}
.rep {
  text-align: center;
  width: 20%;
  height:20%;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: black;
  color: white;


}
.evermore{
  text-align: center;
  width: 20%;
  height:20%;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: peru;


}
.speaknow{
    text-align: center;
    width: 20%;
    height:20%;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: purple;


}

.red{
    text-align: center;
    width: 20%;
    height:20%;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: red;


}

.folklore{
    text-align: center;
    width: 20%;
    height:20%;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: gray;
    color: white;

}

.nine{
    text-align: center;
    width: 20%;
    height:20%;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: powderblue;

}

.acoustic{
      text-align: center;
      width: 20%;
      height:20%;
      padding: auto;
      margin: auto;
      border: auto;
      background-color: palegreen;
}

.midnights{
    text-align: center;
    width: 20%;
    height:20%;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: midnightblue;
    color: white;
}
.green{
  color: palegreen;
}
.yellow{
  color: gold
}
.purple{
  color: purple;
}
.redc{
  color: red;
}
.sky{
  color: powderblue;
}
.black{
  color: black;
}
.pink{
  color: hotpink;
}
.gray{
  color: gray;
}
.brown{
  color: peru;
}
.blue{
  color: midnightblue;
}

.center{
  text-align: center;
}

.lc{
  width: 50%;
  float: left;
}

.rc{
  width: 50%;
  float: right;
}
