.heading {
  text-align: center;
}

h1 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    font-size: 50%width;
    background-color: cornsilk;
    border-radius: 20px;
    font-family: monospace;
}

h2{
  text-align: center;
  font-family: monospace;
}

h3{
  text-align: center;
}
html{
  background-color: burlywood;
  font-family: monospace;
}

.content{
  background-color: cornsilk;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  font-family: monospace;
  font-size: 15px;
}

.current {
  background-color: cornsilk;
  padding: 16px;
  display: inline;
  margin: auto;
  border: auto;
  border-radius: 20px;
  font-family: monospace;
}

ul {
  background-color: cornsilk;

}

.lyrics {
  text-align: center;
}

nav {
  background-color: burlywood;
  text-align: center;
  font-size: 1.5em;
  display: inline-block;
  margin: auto;
  font-family: monospace;
}

.menu{
  display: inline;
  padding: 10px;
  background-color: burlywood;
  color: black;
  text-align: center;
}

.menulist{
  padding: 0;
  text-align: center;
  list-style-type: none;
  font-family: monospace;
}
.menuback{
  background-color: burlywood;
  text-align: center;
}

.leftimg {
  float: left;
  display: block;s

}
p {
  background-color: cornsilk;
  font-size: 15px;
  font-family: monospace;
}
#firstfive{
  display: inline-block;
}
.lover {
  text-align: center;
  width: 20%body;
  height:20%body;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: pink;
  border-radius: 20px;
  display: inline-block;
}
.fearless {
  text-align: center;
  width: 20%body;
  height:20%body;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: yellow;
  border-radius: 20px;
  display: inline-block;
}
.rep {
  text-align: center;
  width: 20%body;
  height:20%body;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: inline-block;
}
.evermore{
  text-align: center;
  width: 20%body;
  height:20%body;
  padding: auto;
  margin: auto;
  border: auto;
  background-color: peru;
  border-radius: 20px;
  display: inline-block;
}
.speaknow{
    text-align: center;
    width: 20%body;
    height:20%body;
    padding: auto;
    margin: auto;
    border: auto;
    background-color: purple;
    border-radius: 20px;
    display: inline-block;
}
