.heading {
  text-align: center;
}

h1 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    font-size: 50%width;
    background-color: cornsilk;
    border-radius: 20px;
    font-family: monospace;
}

h2{
  text-align: center;
  font-family: monospace;
}

html{
  background-color: burlywood;
  font-family: monospace;
}

.content{
  background-color: cornsilk;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  font-family: monospace;
}

.current {
  background-color: cornsilk;
  padding: 16px;
  display: inline;
  margin: auto;
  border: auto;
  border-radius: 20px;
  font-family: monospace;
}

ul {
  background-color: cornsilk;
  text-align: center;
  list-style-type: none;
  font-family: monospace;
}

nav {
  background-color: burlywood;
  text-align: center;
  font-size: 1.5em;
  display: inline-block;
  margin: auto;
  font-family: monospace;
}

.menu{
  display: inline;
  padding: 10px;
  background-color: burlywood;
  color: black;
  text-align: center;
}

.menulist{
  padding: 0;
}
.menuback{
  background-color: burlywood;
  text-align: center;
}

.leftimg {
  float: left;
  width: 1em;
  height: 1em;

}
p {
  background-color: cornsilk;
  font-size: 15px;
  font-family: monospace;
}

ul {
    background-color: cornsilk;
}
